.messageField {
  width: 500px;
}

@media (max-width: 600px) {
  .messageField {
    width: 350px;
  }
}

.commentContainer {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.commentContent {
  flex-grow: 1;
  padding: 5px;
}

.commentActions {
  display: flex;
  gap: 1rem;
}
