.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main {
    height: 100%;
  }
  .loginImg {
    width: 98%;
    padding: 0.3rem;
    padding-bottom: 0.1rem;
  }
  .register {
    font-weight: bold !important;
    color: rgba(21, 44, 91, 1) !important;
    text-decoration: none !important;
  }
  .loginBtn {
    text-transform: capitalize !important;
    background-color: rgba(50, 82, 223, 1);
  }

  // .imageContainer {
  //   padding: 1rem;
  //   height: 100%;
  // }
  .imageContainer {
    height: 100%;
    padding: 1rem;
    position: relative;
  }
  .image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .imageText {
    position: absolute;
    bottom: 2rem;
    left: 3rem;
    color: #fff;
  }

  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 960px) {
    .imageContainer {
      display: none; /* or adjust the styling as needed */
    }

    .formContainer {
      width: 100%; /* or adjust the styling as needed */
    }
  }
