.avatarImage{
    background-color: #152C5B;
}
.menuDetails{
    position: relative;
    z-index: 10000;
}
.linkStyle{
    color: #152C5B;
    text-decoration: none;
 cursor: pointer;
 font-size: 1.2rem;
 font-weight: bold;
}